h1,h2{
    font-family:OCR A Std, monospace;
}
h1{
    margin:auto;
    width:75%;
    text-align: center;
    text-decoration:underline;
}

h4{
    text-align: center;
    margin: 5px;
    color: #3b3b3b;
}

header{
    margin: 6px;
    font-size:large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    font-family: Optima, sans-serif;
}

body{
    background-color: #fef7fc;
    position: relative;
    max-width: 700px;
    margin-left:auto;
    margin-right:auto;
}

ul, ol{
    list-style:circle;
    
}

table,td{
    border: 2px solid #6a0101;
}

th{
    border: 4px solid #000000;
}

table{
    width: 100%;
}
  

.box, .box>div{
    background-color: #fefefe;
    border: 2px solid #3b3b3b;
    outline: auto;
    margin: 5px;
    float: left;
    display: inline-grid
}

.box:hover{
    background-color: #f1f0f0;
}

.inline_wrapper {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
  }

.image{
    background-color: #fefefe;
    border: 1px solid #3b3b3b;
    outline: auto;
    margin: 5px;
    float: right;
    height: fit-content;
}
.image img{
    width: 100%;
}
.image:hover{
    outline: 5px solid #000000;
}

.float_txt{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin: 6px;
    clear: both;
    height:auto;
    float: left;
    width: 100%;
}

.float_txt .lefttxt{
    float: left;
    width: 50%;
}

.float_txt .righttxt{
    float: right;
    width: 50%;
}

a .box{
    color:#f8ae36;
    clear: both;
}
a .box:hover{
    color:#ff0000;
}

.bottom{
    border-top: 3px solid #3b3b3b;
    width: 100%;
    margin-top: 10px;
    margin: 3px;
    float: left;
    align-self: center;
    text-align: end;
}

.bottom a, p a{
    color: #3b3b3b;
    font-size: large;
}

.bottom a:hover{
    color: #ff0000;
}

#sword_img{
    width: 200px;
    float: right;
    border: 1px solid #000000;
    margin: 5px 10px 10px 0px;
}

#sword_txt{
    float: left;
}

#selector{
    text-align: center;
}

select, button{
    width: 200px;
    text-align: center;
    margin: 10px;
    font-size: medium;
}